.feed {
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.feed h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    font-size: 3rem;

}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.color6{
    margin-right: 2px;
}

.inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

.cursor{
    cursor: text;
}

.inputBox img {
    width: 50px;
    border-radius: 50%;
}

.inputBox input {
    padding: 15px;
    border-radius: 20px;
    width: 85%;
    margin: 10px;
    font-size: 1.2rem;
    border: 1px solid black;
    outline: none;
    background-color: #f7f7f7;
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.color1 {
    color: red;
    margin: 3px;
}

.color2 {
    color: green;
    margin: 3px;
}

.color3 {
    color: rgb(181, 181, 45);
    margin: 3px;
}

.color4 {
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 3px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(35, 174, 35);
}

.color4:hover {
    background-color: rgb(26, 204, 26);
}

.color9 {
    color: red;
    border: 1px solid #ededed;
}

.color9:hover {
    color: #f7f7f7;
    background-color: red;
}

.color10 {
    border: 1px solid #ededed;
    color: green;

}

.color10:hover {
    color: #f7f7f7;
    background-color: green;
}


.btnUpload {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: max-content;
    background-color: #ffff;
    border: 0px solid white;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: grey;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
}

.btnUpload:hover {
    background-color: #f7f7f7;
}

.upload {
    width: 90%;
    height: max-content;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 40px -16px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 40px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px -16px rgba(0, 0, 0, 0.75);
}








.dropbtn {
    background-color: #ffff;
    color: grey;
    border: none;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c5c5c5;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    z-index: 100;
    right: 0px;
    border-radius: 5px;

}

.show {
    display: block;
    transition: all 0.3s ease-in-out;
}



@media screen and (max-width:850px) {
    .feed h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width:750px) {
    .feed {
        width: 60%;
    }
}

@media screen and (max-width:650px) {
    .feed h1 {
        font-size: 1.5rem;
    }

    .feed {
        flex: 70%;
        width: -webkit-fill-available;
    }
}

@media screen and (max-width:550px) {
    .feed h1 {
        font-size: 1.1rem;
    }

    .feed {
        flex: 70%;
    }

    .btnUpload {
        font-size: 0.8rem;
    }
}